<div class="form" >
    <div class="form__info" >
        <h4 class="form__info-title"  >{{ editingId? 'Edit Mode': 
        id===SECTIONS.PERSONAL ? "Create Client" : id===SECTIONS.LEGAL_ADDRESS ? 'Legal Address': 'Factual Address'}}</h4>

    </div>
    <lib-client-form
    [selectedSection]="id"
    [userForm]="userForm"
    [editUser]="editingUser$ | async"
    (sectionChange)="formPageIndexChanged($event)"
    (deleteUser)="deleteUser($event)"
    (fromSubmitted)="fromSubmitted($event)"
    
    ></lib-client-form>
</div>
