@import '../../tools/bem';
.header{
    background-color: hsla(214, 62%, 21%, 1);
    color: #fff;
    font-weight: bold;
    padding: 20px;
    display: flex;
    @include element('nav'){
        width: 100%;
    }
    @include element('ul'){
        display: flex;
        gap: 40px;
        justify-content: flex-end;
        width: 100%;
        @include part('link'){
            color: white;
            @include modifier('active'){
                color: red;
            }
        }
    }
   
}