

<div class="clients" >
  <h3  class="clients-title" >Client List</h3>

  @if(users$ | async; as users){

    @if(users?.length){
      <lib-clients-table 
      [users]="users | pagination : paginationData.pageIndex : paginationData.pageSize  "
      [length]="users.length"
      [pageSize]="paginationData.pageSize"
      [pageIndex]="paginationData.pageIndex"
      (editUser)="editUser($event)"
      (detailClicked)="openDetailPage($event)"
      (deleteUser)="deleteUser($event)"
      (pageChanged)="pageChanged($event)"
      >
      </lib-clients-table>
    } @else {
      <lib-info [message]="'No Clients Found'" [buttonText]="'Add Client'" (actionClick)="openCreatePage()"  ></lib-info>

    }
  
  }

</div>
